{% extends "base-backend.html.twig" %}

{% block title %}AcmeEventManagerBundle:User:listUsers{% endblock %}

{% block content -%}
    <table class="table">
        <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>
                    {{ user.username }}
                </td>
                <td>
                    {{ user.email }}
                </td>
                <td>
                    <a href="{{ path('admin_display_user', {'id': user.id}) }}">View User</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ dump(users) }}
{% endblock %}
