{% extends "base-backend.html.twig" %}

{% block title %}AcmeEventManagerBundle:User:manageUserRoles{% endblock %}

{% block content -%}
    <h1>Welcome to the User:manageUserRoles page</h1>
{% endblock %}
