{% extends 'base-frontend.html.twig' %}

{% block body -%}
    <h1>Paper creation</h1>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
