{% extends 'base-backend.html.twig' %}
{% block title -%}{{ parent() }} - Add country{% endblock title %}

{% block content -%}
    <h1>Country creation</h1>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('admin_country') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
