{% set parent = 'base.html.twig' %}
{% if is_granted('ROLE_USER') and is_granted('ROLE_ADMIN') %}
    {% set parent = 'base-backend.html.twig' %}
{% elseif is_granted('ROLE_ADMIN') %}
    {% set parent = 'base-backend.html.twig' %}
{% elseif is_granted('ROLE_USER') %}
    {% set parent = 'base-frontend.html.twig' %}
{% else %}
    {% set parent = 'base-anonymus.html.twig' %}
{% endif %}

{% extends parent %}
{% block title -%}{{ parent() }} - Homepage{% endblock title %}

{% block content -%}
    <h1 class="text-center">Welcome to East Meets West registration app.</h1>
    {% if app.user %}
    {% elseif not app.user %}
        <h2 class="text-center">Please create a <a href="{{ path('fos_user_registration_register') }}">new account</a>
            or <a
                    href="{{ path('fos_user_security_login') }}">log to existing one</a>.</h2>
    {% endif %}
{% endblock content %}