{% extends 'base-backend.html.twig' %}
{% block title -%}{{ parent() }} - Add event{% endblock title %}

{% block content %}
    <h1>Event creation</h1>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('admin_event') }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
